*:not(head, script, table, tbody, tfoot, thead, tr, td, th),
::after,
::before {
	display: flex;
	flex-direction: column;
}

html {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	position: fixed;
	font-weight: normal;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
		Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
}

body {
	flex: 1 0;
	padding: 32px;
	scroll-behavior: smooth;
}

html,
body {
	overflow: auto;
}

/* accessibility */

.sr-only {
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	position: absolute;
	clip: rect(0, 0, 0, 0);
}

*:focus,
button:focus,
input:focus,
optgroup:focus,
select:focus,
textarea:focus,
.focusable:focus {
	outline: none;
	box-shadow: var(--focus-border);
}

@media (prefers-reduced-motion: reduce) {
	* {
		animation: unset !important;
		transition: none !important;
	}
}
