.filter {
	--filter-radius: 8px;
	--filter-btn-height: 40px;
	--separator-color: rgba(0, 0, 0, 0.7);
	& button {
		&:first-child {
			border-top-left-radius: var(--filter-radius);
			border-bottom-left-radius: var(--filter-radius);
			box-shadow: -1px 0 0 var(--separator-color) inset;
		}
		&:last-child {
			border-top-right-radius: var(--filter-radius);
			border-bottom-right-radius: var(--filter-radius);
			box-shadow: 1px 0 0 var(--separator-color) inset;
		}
		&.active,
		&:hover {
			position: relative;
			background: #e6e6fa;
			box-shadow: 0 0 0 1px var(--separator-color);
		}
		&:focus {
			position: relative;
			box-shadow: var(--focus-border);
		}
		border: none;
		cursor: pointer;
		padding: 0 16px;
		min-width: 140px;
		user-select: none;
		align-items: center;
		background: transparent;
		-webkit-appearance: none;
		min-height: var(--filter-btn-height);
		line-height: var(--filter-btn-height);
	}
	margin-top: 40px;
	flex-direction: row;
	border-radius: var(--filter-radius);
	box-shadow: 0 0 0 1px var(--separator-color) inset;
}
