@mixin completed {
  cursor: default;
  transform: none;
  box-shadow: none;
  position: relative;
  background: lightgrey;
}

@mixin cross-line {
  &:after {
    top: 50%;
    left: 50%;
    width: 80%;
    height: 6px;
    content: "";
    position: absolute;
    border-radius: 50px;
    background: rgba(128, 128, 128, 0.788);
    transform: translate(-50%, -50%) rotate(-3deg);
  }
}

.todos-list {
  gap: 16px;
  width: 100%;
  overflow: auto;
  padding: 32px 24px;
  align-items: center;
  max-height: calc(100vh - 80px);
}

.todo {
  --todo-shadow: 0px 2px 4px 0px hsl(34deg 78% 20% / 40%);
  &__label {
    &:hover,
    &:focus,
    &:focus-within {
      background: bisque;
      transform: scale(1.05);
    }
    &:focus,
    &:focus-within {
      box-shadow: var(--todo-shadow), var(--focus-border);
    }
    &--completed {
      &:hover,
      &:focus,
      &:focus-within {
        @include completed;
      }
      &:focus,
      &:focus-within {
        box-shadow: var(--focus-border);
      }
      @include cross-line;
      @include completed;
    }
    cursor: pointer;
    padding: 0 16px;
    max-width: 400px;
    min-height: 32px;
    line-height: 32px;
    user-select: none;
    border-radius: 4px;
    align-items: center;
    text-decoration: none;
    transition: 0.1s ease-out;
    background: antiquewhite;
    color: rgba(0, 0, 0, 0.8);
    box-shadow: var(--todo-shadow);
  }
  width: 100%;
}