*,
::after,
::before {
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
  line-height: 1.618;
  box-sizing: border-box;
  font-family: sans-serif;
}
main {
  display: block;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 2.4rem;
}
a {
  background-color: transparent;
}
abbr[title] {
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1rem;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
button,
input,
optgroup,
select,
textarea {
  line-height: inherit;
  border: 1px solid currentColor;
}
button {
  overflow: visible;
  text-transform: none;
}
[type="button"],
[type="reset"],
[type="submit"],
button {
  -webkit-appearance: button;
  padding: 1px 6px;
}
input {
  overflow: visible;
}
input,
textarea {
  padding: 1px;
}
fieldset {
  border: 1px solid currentColor;
  margin: 0 2px;
}
legend {
  color: inherit;
  display: table;
  max-width: 100%;
  white-space: normal;
}
progress {
  display: inline-block;
  vertical-align: baseline;
}
select {
  text-transform: none;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="color"] {
  background: inherit;
}
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.5;
}
::-webkit-file-upload-button,
::-webkit-search-decoration {
  -webkit-appearance: button;
  font: inherit;
}
::-moz-focus-inner {
  border: 0;
}
:-moz-focusring {
  outline: 1px dotted ButtonText;
}
:-moz-ui-invalid {
  box-shadow: none;
}
hr {
  box-sizing: content-box;
  height: 0;
  color: inherit;
  overflow: visible;
}
b,
strong {
  font-weight: bolder;
}
audio,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
table {
  text-indent: 0;
  border-color: inherit;
}
details {
  display: block;
}
dialog {
  background-color: inherit;
  border: solid;
  color: inherit;
  display: block;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  left: 0;
  margin: auto;
  padding: 1em;
  position: absolute;
  right: 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
dialog:not([open]) {
  display: none;
}
summary {
  display: list-item;
}
canvas {
  display: inline-block;
}
template {
  display: none;
}
[hidden] {
  display: none;
}
*:not(head, script, table, tbody, tfoot, thead, tr, td, th),
::after,
::before {
  display: flex;
  flex-direction: column;
}
html {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  font-weight: normal;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}
body {
  flex: 1 0;
  scroll-behavior: smooth;
}
html,
body {
  overflow: auto;
}
body {
  align-items: center;
  justify-content: center;
  background: #f08080;
}
.todos-list {
  font-size: 40px;
}
.todo__link {
  cursor: pointer;
  padding: 0 16px;
  min-height: 32px;
  line-height: 32px;
  user-select: none;
  border-radius: 4px;
  text-decoration: none;
  transition: 0.1s ease-out;
  background: #faebd7;
  color: rgba(0, 0, 0, 0.8);
  box-shadow: 0px 2px 4px 0px rgba(91, 56, 11, 0.4);
}
.todo__link:hover {
  background: bisque;
  transform: scale(1.05);
}
.todo__link--completed {
  cursor: default;
  transform: none;
  box-shadow: none;
  position: relative;
  background: #d3d3d3;
}
.todo__link--completed:hover {
  cursor: default;
  transform: none;
  box-shadow: none;
  position: relative;
  background: #d3d3d3;
}
.todo__link--completed:after {
  top: 50%;
  left: 50%;
  width: 80%;
  height: 6px;
  content: "";
  position: absolute;
  border-radius: 50px;
  background: rgba(128, 128, 128, 0.788);
  transform: translate(-50%, -50%) rotate(-3deg);
}
